.imgport{
    background-image: url("../imagenes/lorenzo-herrera-p0j-mE6mGo4-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 750px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &__tiltext{

        /*margin: auto;
        padding: 335px 0; */
        //border: 1px solid blue;
        //box-shadow: 1px 1px 2px 2px white;
        padding: 5px;
    }
    &__title{
        color: rgb(218, 218, 218);
        font-family:'Open Sans', sans-serif;
        font-weight: 700;
        font-size: 3rem;
        //box-shadow: 1px 1px 5px 1px white;
        max-width: 240px;
        //border: 1px solid red;
    }
    &__text{
        font-weight: 300;
        color: rgb(218, 218, 218);
        font-size: 1rem;
        padding-left: 5px;
        //border: 1px solid red;
    }
    &__hamburg{
        position: absolute;
        top: 10px;
        right: 10px;
        transition: 2s;
        //border: 1px solid red;
    }

    &__hamburg:hover{
        cursor: pointer;
    }
}

.menu{
    //border: 1px solid red;
    font-family: 'Open Sans',sans-serif;
    display: block;
    position: absolute;
    top: 0;
    right: -150px;
    transition: 1s;
    /* background-image: linear-gradient(150deg, #924315 0, #8b371a 10%, #802b1c 20%, #701d1c 30%, #5d0f19 40%, #470113 50%, #320007 60%, #260000 70%, #190000 80%, #050000 90%, #000000 100%);
     */
    background-color: rgba(0, 0, 0);
    padding: 20px;
    height: 100vh;
    width: 150px;
    &__list{
        //border: 1px solid blue;
        transition: 2s;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 200px;
        li{
            list-style: none;
        }
        &__item{
            text-decoration: none;
            color: white;
            //border: 1px solid red;
        }
    }
    &__close{
        width: 18px;
        margin-left: 85%;
        margin-bottom: 30px;
    }
    &__close:hover{
        cursor: pointer;
    }
}

:root{
    scroll-behavior: smooth;
}


//breakpoint en 680px
