.imgport {
  background-image: url("../imagenes/1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 750px;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imgport__tiltext {
  /*margin: auto;
  padding: 335px 0; */
  padding: 5px;
}
.imgport__title {
  /* color: rgb(218, 218, 218); */
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  max-width: 240px;
}
.imgport__text {
  font-weight: 300;
  color: rgb(218, 218, 218);
  font-size: 1rem;
  padding-left: 5px;
}
.imgport__hamburg {
  position: absolute;
  top: 10px;
  right: 10px;
  transition: 2s;
}
.imgport__hamburg:hover {
  cursor: pointer;
}

.menu {
  font-family: "Open Sans", sans-serif;
  position: absolute;
  top: 0;
  right: 0;
  transition: all 0.5s ease-in-out;
  /* transform: translate(100%); */
  background-color: rgb(0, 0, 0);
  padding: 20px;
  height: 278.2%;
  width: 150px;
  display: none;
}
.menu__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
}
.menu__list li {
  list-style: none;
}
.menu__list__item {
  text-decoration: none;
  color: white;
}
.menu__close {
  width: 18px;
  margin-left: 85%;
  margin-bottom: 30px;
}
.menu__close:hover {
  cursor: pointer;
}

:root {
  scroll-behavior: smooth;
}

.button {
  border: none;
  background-color: transparent;
  position: absolute;
  left: 50px;
  top: 0;
}

.offcanvas-body {
  background-color: black;
}

.sec1 {
  margin: 35px 0;
  padding: 10px;
}
.sec1__content__title {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
}
.sec1__content__inter {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sec1__content__inter__img {
  width: 280px;
}
.sec1__content__inter__text {
  margin: 5px 0;
}
.sec1__content__inter__text__t {
  font-size: 1.5rem;
  font-weight: 400;
  color: rgba(146, 192, 146, 0.865);
}
.sec1__content__inter__text__t span {
  background-color: rgba(146, 192, 146, 0.865);
  border-radius: 100%;
  padding: 0 8px;
  color: white;
}
.sec1__content__inter__text__p {
  font-weight: 300;
}
@media (min-width: 1100px) {
  .sec1__content__inter {
    display: flex;
    flex-direction: row;
    gap: 50px;
  }
}

.sec2 {
  padding: 10px;
}
.sec2__content__title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.8rem;
}
.sec2__content__imgs {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.sec2__content__imgs__g {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
@media (min-width: 1100px) {
  .sec2__content__imgs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }
}

.sec3 {
  margin: 40px 0;
  padding: 10px;
}
.sec3__title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.8rem;
}
.sec3__grup {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
}
.sec3__content {
  gap: 0px;
}
.sec3__content__img {
  width: 280px;
}
.sec3__content__text {
  margin-top: 10px;
  text-align: center;
  font-weight: 300;
}
@media (min-width: 950px) {
  .sec3__grup {
    display: flex;
    flex-direction: row;
  }
  .sec3__content__img {
    width: 280px;
    height: 240px;
  }
}

.footer {
  height: 110px;
  display: flex;
  align-items: center;
  /* border: 1px solid red; */
  background: rgb(1, 89, 188);
  background: linear-gradient(90deg, rgb(1, 89, 188) 18%, rgb(188, 7, 116) 78%);
}

.foot {
  /*     border: 1px solid black; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.foot__title {
  font-weight: 400;
  color: white;
}
.foot__text {
  font-weight: 300;
  max-width: 330px;
  color: white;
}
.foot__conten {
  display: flex;
  gap: 15px;
}
.foot__conten__img {
  width: 35px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

/*# sourceMappingURL=style.css.map */
